@import "fonts";
@import "colors";
@import "variables";

body {
  font-family: Noto Sans, sans-serif;
  background-color: $body-bg-color;
}

h6, dl, dt, dd {
  margin:0;
}

.br-8 {
  border-radius: 8px;
}
